<section *ngIf="stepCount <=3">
  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <div class="progressbar">
          <ul>
            <li
              [ngClass]="{'active': (stepCount === 1), 'success': ((stepCount > 1)&&(formsValidationObj.form1Valid))}"
            >
              Informacion Basica
            </li>
            <li
              [ngClass]="{'active': (stepCount === 2), 'success': ((stepCount > 2)&&(formsValidationObj.form2Valid))}"
            >
              Informacion Laboral
            </li>
            <li
              [ngClass]="{'active': (stepCount === 3), 'success': (formsValidationObj.form3Valid)}"
            >
              Informacion de Contacto
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container border border-secondary mt-3">
      <div class="row">
        <div class="col m-3">
          <!-- Step1 Form -->
          <form
            [formGroup]="formGroup1"
            (ngSubmit)="onNextClick()"
            *ngIf="stepCount === 1"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="firstName"> FirstName: </label>
                <input
                  name="firstName"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form1.firstName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form1.firstName.errors"
                >
                  <span *ngIf="form1.firstName.errors.required"
                    >FirstName is Required</span
                  >
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="lastName"> LastName: </label>
                <input
                  name="lastName"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form1.lastName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form1.lastName.errors"
                >
                  <span *ngIf="form1.lastName.errors.required"
                    >LastName is Required</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-right">
                <button
                  type="button"
                  class="btn btn-secondary mr-2"
                  [disabled]="true"
                >
                  Previous
                </button>
                <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </div>
          </form>

          <!-- Step2 Form -->
          <form
            [formGroup]="formGroup2"
            (ngSubmit)="onNextClick()"
            *ngIf="stepCount === 2"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="firstName"> FirstName: </label>
                <input
                  name="firstName"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form2.firstName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form2.firstName.errors"
                >
                  <span *ngIf="form2.firstName.errors.required"
                    >FirstName is Required</span
                  >
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="lastName"> LastName: </label>
                <input
                  name="lastName"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form2.lastName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form2.lastName.errors"
                >
                  <span *ngIf="form2.lastName.errors.required"
                    >LastName is Required</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-right">
                <button
                  type="button"
                  class="btn btn-secondary mr-2"
                  (click)="onPrevClick()"
                >
                  Previous
                </button>
                <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </div>
          </form>

          <!-- Step3 Form -->
          <form
            [formGroup]="formGroup3"
            (ngSubmit)="onNextClick()"
            *ngIf="stepCount === 3"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="firstName"> FirstName: </label>
                <input
                  name="firstName"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form3.firstName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form3.firstName.errors"
                >
                  <span *ngIf="form3.firstName.errors.required"
                    >FirstName is Required</span
                  >
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="lastName"> LastNames: </label>
                <input
                  name="lastName"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{'is-invalid': isFormSubmitted && form3.lastName.errors}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isFormSubmitted && form3.lastName.errors"
                >
                  <span *ngIf="form3.lastName.errors.required"
                    >LastName is Required</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-right">
                <button
                  type="button"
                  class="btn btn-secondary mr-2"
                  (click)="onPrevClick()"
                >
                  Previous
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="stepCount > 3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-success">Form Submitted Successfully !!!</h1>
      </div>
    </div>
  </div>
</section>
