.progressbar {
  counter-reset: step;
}


.progressbar li {
  width: 33.33%;
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  display: block;
  width: 30px;
  height: 30px;
  line-height: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  background: white;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ddd;
  top: 15px;
  right: -50%;
  z-index: -1;
}

.progressbar li:last-child:after {
  content: none;
}

.progressbar li.active {
  color: #0275d8;
}

.progressbar li.active:before {
  border: 1px solid #0275d8;
  background: #0275d8;
  color: white;
}

.progressbar li.active:after {
  background: #0275d8;
}

.progressbar li.success {
  color: #5cb85c;
}

.progressbar li.success:before {
  border: 1px solid #5cb85c;
  background: #5cb85c;
  color: white;
}

.progressbar li.success:after {
  background: #5cb85c;
}

